body {
    font-family: Arial, sans-serif;
    background-color: #1F2833;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #0B0C10;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section {
    margin: 20px;
}

.project {
    width: 200px; /* Square dimensions */
    height: 200px;
    border: 1px solid #C5C6C7;
    margin: 10px;
    display: inline-block; /* Aligns the containers side by side */
    text-align: center;
    line-height: 200px; /* Vertically centers the text */
}

h1, h2 {
    color: #66FCF1;
}

p {
    color: #ffffff;
}
#bio, #work {
    background-color: #0B0C10;
    padding: 15px;
    color: #ffffff;
}

footer {
    background-color: #0B0C10;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}
